job "nomad-external-dns-job" {
  datacenters = ["dc1"]
  type        = "batch"

  group "dns-group" {
    count = 1

    network {
      mode = "host"
    }

    task "dns-task" {
      driver = "docker"

      config {
        image = "nomad-external-dns:local"
        network_mode = "host"
        args = [
          "--nomad-job-name",
          "nomad-external-dns-job",
          "hetzner",
          "--dns-token",
          "test_token",
          "--dns-zone-id",
          "test_zone_id",
        ]
      }

      service {
        name = "nomad-external-dns-service"
        tags = [
          "external-dns.hostname=example.com",
          "external-dns.type=A",
          "external-dns.value=192.168.1.100",
          "external-dns.ttl=300"
        ]
      }

      resources {
        cpu    = 500 # 500 MHz
        memory = 256 # 256MB
      }

      env {
        NOMAD_ADDR          = "http://localhost:4646"
        CONSUL_HTTP_ADDR    = "http://localhost:8500"
        HETZNER_DNS_API_URL = "{{api_url}}"
      }
    }
  }
}
